@charset "utf-8";

@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:100;
    src:url(/asset/v2/fonts/NotoSansKR-Thin-Hestia.eot);
    src:url(/asset/v2/fonts/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'), url(/asset/v2/fonts/NotoSansKR-Thin-Hestia.woff) format('woff'), url(/asset/v2/fonts/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:url(/asset/v2/fonts/NotoSansKR-Regular-Hestia.eot);
    src:url(/asset/v2/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'), url(/asset/v2/fonts/NotoSansKR-Regular-Hestia.woff) format('woff'), url(/asset/v2/fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src:url(/asset/v2/fonts/NotoSansKR-Medium-Hestia.eot);
    src:url(/asset/v2/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'), url(/asset/v2/fonts/NotoSansKR-Medium-Hestia.woff) format('woff'), url(/asset/v2/fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    src:url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Light.eot);
    src:url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Light.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Light.woff) format('woff'), url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    src:url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Medium.eot);
    src:url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Medium.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Medium.woff) format('woff'), url(//cdn.jsdelivr.net/npm/@typopro/web-roboto@3.7.5/TypoPRO-Roboto-Medium.ttf) format('truetype');
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	/*font-smoothing: antialiased;*/
}
body {-ms-text-size-adjust:none;-webkit-text-size-adjust:none}
img, fieldset {border:0}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none}
table {width:100%;border-collapse:collapse;border-spacing:0}

h1, h2, h3, h4, h5, h6 {font-weight:normal}
em {font-style:normal}
strong {font-weight:500}
legend, caption {overflow:hidden;width:0;height:0;font-size:0;line-height:0}
hr {display:none}

.hidden {display:none}
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.text-underline {text-decoration:underline}
.f-color-gn {color:#00af56}
.f-color-rd {color:#f34235}
.f-color-bk {color:#3c3c3c}

/*form elements*/
button, input, select, textarea {margin:0;padding:0;font-family:'Noto Sans KR','맑은고딕','Malgun Gothic','MGothic',sans-serif,'돋움',Dotum,'굴림',Gulim;font-size:14px;color:#3c3c3c;outline:none}
button {background:transparent;border:0;cursor:pointer}
button::-moz-focus-inner {padding:0;border:0}
input[type='text'], input[type='tel'], input[type='email'], input[type='password'] {padding:0 14px;height:32px;border:1px solid #e2e2e2}
input[type='password'] {font-size:11px}
input::-ms-clear {display:none;width:0;height:0}
input::-ms-reveal {display:none;width:0;height:0}
input:-webkit-autofill {-webkit-box-shadow:0 0 0 30px #fff inset;-webkit-text-fill-color:#3c3c3c}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition:background-color 5000s ease-in-out 0s}
select {position:relative;display:inline-block;*display:inline;*zoom:1;height:34px;padding:4px 14px;background:#fff url(/asset/v2/images/common/bg_arr_select.gif) no-repeat 100% 50%;*background:none;border:1px solid #e2e2e2;cursor:pointer;-webkit-text-size-adjust:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select::-ms-expand {display:none}
textarea {padding:16px 20px;border:1px solid #e2e2e2;line-height:1.5;resize:none}

/*placeholder*/
::-webkit-input-placeholder {color:#767676}
:-moz-placeholder {color:#767676}
::-moz-placeholder {color:#767676}
:-ms-input-placeholder {color:#767676 !important}
::-ms-input-placeholder {color:#767676}
::placeholder {color:#767676}
input[type='password']::-webkit-input-placeholder {font-size:14px}
input[type='password']:-moz-placeholder {font-size:14px}
input[type='password']::-moz-placeholder {font-size:14px}
input[type='password']:-ms-input-placeholder {font-size:14px !important}
input[type='password']::-ms-input-placeholder {font-size:14px}
input[type='password']::placeholder {font-size:14px}

/*skip navigation*/
.skip-navigation {z-index:8888;display:block;position:absolute;left:0;top:0;width:100%}
.skip-navigation a {z-index:5000;position:absolute;top:-10000px;left:0;width:100%;height:30px;background-color:#005ba0;line-height:30px;color:#fff;text-align:center}
.skip-navigation a:hover,
.skip-navigation a:focus,
.skip-navigation a:active {top:0}

html, body, #wrap {height:100%}
/*html {overflow-y:scroll !important}*/
#wrap {min-width:1080px}
#wrap.blank {min-width:0}
a.btn-top {display:none;position:fixed;bottom:20px;right:20px;width:48px;height:48px;background:url(/asset/v2/images/main/sp_main.png?v=191128) no-repeat 0 0;font:0/0 dotum;color:transparent}

/*Header*/
#header {z-index:1001;position:relative;height:80px}
.hgroup {position:relative;*display:inline-block;*zoom:1;z-index:7000}
.hgroup .inbox {position:relative;width:1080px;height:80px;margin:0 auto;z-index:555}

/*navigation*/
.hgroup .logo {position:absolute;top:0;left:10px;z-index:556}
.hgroup .logo a {display:block;width:136px;height:54px;padding-top:26px}
.hgroup .logo a span {display:block;padding-top:24px;background:url(/asset/v2/images/common/logo.png) no-repeat 0 0;font:0/0 dotum;color:transparent}
.nvalinks {position:absolute;top:19px;right:10px;z-index:556}
.nvalinks a {float:left;height:40px;padding-left:13px;background:url(/asset/v2/images/common/bg_dot.png) no-repeat 6px center;font-size:13px;line-height:40px;letter-spacing:-0.05em;color:#fff}
.nvalinks a:first-child {padding-left:0;background:none}
.nvalinks a:hover {text-decoration:underline}
.nvalinks .notice {position:absolute;top:54px;right:-2px;background:#8c46ff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.nvalinks .notice a {display:block;width:100px;height:100px;*height:66px;*padding-top:34px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;font-size:13px;line-height:1.2;color:#fff !important;text-align:center;white-space: nowrap;}
.nvalinks .notice a:hover {color:#fff;text-decoration:none;}
.nvalinks .notice a:before {content:'';display:block;width:22px;height:24px;margin:10px auto 8px;background:url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat -219px -29px;
-webkit-animation:RING 1.75s 2;
-moz-animation:   RING 1.75s 2;
-o-animation:     RING 1.75s 2;
animation:        RING 1.75s 2;
-webkit-transform-origin: top center;
-ms-transform-origin: top center;
transform-origin: top center;
}
@keyframes RING {
  0%, 100% {transform:rotate(0deg)}
  5%  {transform:rotate(-30deg)}
  10% {transform:rotate(25deg)}
  15% {transform:rotate(-25deg)}
  20% {transform:rotate(20deg)}
  25% {transform:rotate(-20deg)}
  30% {transform:rotate(15deg)}
  35% {transform:rotate(-15deg)}
  40% {transform:rotate(15deg)}
  45% {transform:rotate(0deg)}
}
.nvalinks .notice.cert a:before {margin:10px auto 6px;}
.nvalinks .notice button {overflow:hidden;position:absolute;top:3px;right:4px;width:22px;height:22px;background:#fff url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat -150px -94px;border:1px solid #8c46ff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;text-indent:-9999px;}
a.nvalinks-rev {margin-left:18px;padding:0 18px;background:none;border:1px solid #fff;font-size:16px;letter-spacing:-0.03em;line-height:38px;-webkit-transition-duration:0.2s;transition-duration:0.2s}
a.nvalinks-rev:hover {background:#00be5a;border:1px solid #00be5a;text-decoration:none}
.navigation {*zoom:1;position:relative;height:80px;padding-left:240px}
.navigation:after {content:'';display:block;clear:both}
.navigation > li {float:left;text-align:center}
.navigation > li > a {display:block;margin:0 40px;height:80px;line-height:78px;font-size:18px;letter-spacing:-0.03em;color:#fff}
.navi-sublist {display:none;z-index:9000;width:100%;height:240px;padding-top:19px}
.navi-sublist li {float:none;text-align:center}
.navi-sublist li a {display:block;line-height:34px;font-size:16px;color:#3c3c3c;letter-spacing:-0.03em}
.navi-sublist li a:focus,
.navi-sublist li a:hover {color:#00be5a}

#header.on .hgroup {height:79px;border-bottom:1px solid #eee}
#header.on .hgroup .logo a span {background-position:0 -34px}
#header.on .nvalinks a {background:url(/asset/v2/images/common/bg_dot02.png) no-repeat 6px center;color:#767676}
#header.on .nvalinks a:first-child {padding-left:0;background:none}
#header.on .nvalinks a:hover {color:#3c3c3c}
#header.on a.nvalinks-rev {background:none;border:1px solid #00be5a;color:#00be5a}
#header.on a.nvalinks-rev:hover {background:#00be5a;color:#fff}
#header.on .navigation > li > a {color:#3c3c3c}
#header.on .navigation > li > a.on {position:relative;height:78px;border-bottom:2px solid #00c860;color:#00be5a}
#header.on .navigation > li:nth-child(2) > a.on:after {content:'';position:absolute;top:78px;left:50%;width:64px;height:2px;margin-left:-32px;background:#00c860;}
#header.on .navi-sublist {display:block}

#header.sub {position:fixed;top:0;left:0;width:100%;background:#fff}
#header.sub .hgroup {background:#fff;border-bottom:1px solid #eee}
#header.sub .hgroup .inbox {height:79px}
#header.sub .hgroup .logo a span {background-position:0 -34px}
#header.sub .nvalinks a {background:url(/asset/v2/images/common/bg_dot02.png) no-repeat 6px center;color:#767676}
#header.sub .nvalinks a:first-child {padding-left:0;background:none}
#header.sub .nvalinks a:hover {color:#3c3c3c}
#header.sub a.nvalinks-rev {background:none;border:1px solid #00be5a;color:#00be5a}
#header.sub a.nvalinks-rev:hover {background:#00be5a;color:#fff}
#header.sub .navigation li a {color:#3c3c3c}
#header.sub .navi-sublist li a:focus,
#header.sub .navi-sublist li a:hover {color:#00be5a}
.nav-sub-wrap {overflow:hidden;height:0;z-index:5555;position:absolute;top:0;left:0;width:100%;padding-top:80px;-webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
-moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
-o-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1)}
.nav-sub-wrap.on {height:239px;background:#fff;border-bottom:1px solid #e2e2e2}

/*container*/
#container {min-height:100%;margin:0 0 -292px}
.content-body {z-index:2;position:relative;padding-bottom:292px;background:#fff}
.content-body.top {padding-top:141px}



/* 서브 페이지 */
/*페이지 타이틀*/
.content-header {z-index:1;display:block;overflow:hidden;height:240px;padding-top:80px}
.content-header-inner {z-index:0;position:fixed;width:100%;height:240px;border-bottom:1px solid #e2e2e2;font-size:0;text-align:center}
.content-header-inner.bg-about {background:url(/asset/v2/images/common/bg_sub_about.jpg?v=191128) no-repeat center 0;background-size:cover}
.content-header-inner.bg-service {background:url(/asset/v2/images/common/bg_sub_service.jpg) no-repeat center 0;background-size:cover}
.content-header-inner.bg-benefits {background:url(/asset/v2/images/common/bg_sub_benefits.jpg?v=191128) no-repeat center 0;background-size:cover}
.content-header-inner.bg-corp {background:url(/asset/v2/images/common/bg_sub_corp.jpg) no-repeat center 0;background-size:cover}
.content-header-inner.bg-customer {background:url(/asset/v2/images/common/bg_sub_customer.jpg?v=191128) no-repeat center 0;background-size:cover}
.content-header-inner.bg-company {background:url(/asset/v2/images/common/bg_sub_company.jpg) no-repeat center 0;background-size:cover}
.content-header-inner:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(/asset/v2/images/common/bg_cover_dot.png) repeat 0 0}
.content-header .align {display:inline-block;*display:inline;*zoom:1;height:100%;vertical-align:middle}
.content-header .txt {position:relative;display:inline-block;*display:inline;*zoom:1;max-height:240px;font-size:12px;color:#fff;vertical-align:middle;z-index:1}
.content-header .txt h2 {font-size:40px;font-weight:500}
.content-header .txt p {margin-top:23px;font-size:18px;line-height:1.5;letter-spacing:-0.05em}
/*현재 위치*/
.breadcrumb {z-index:1001;height:54px;background:#fff;border-bottom:1px solid #e2e2e2}
.breadcrumb.noline {border-bottom:none}
.breadcrumb.l-fixed {position:fixed;top:80px;left:0;width:100%}
.breadcrumb-inner {width:1060px;padding:0 10px;margin:0 auto;font-size:14px;line-height:54px}
.breadcrumb-inner .arr {display:inline-block;width:6px;height:11px;margin:0 11px;background:url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat 0 0;*vertical-align:middle}
.breadcrumb-inner .s-active {color:#3c3c3c}
/*section*/
.section-box {width:960px;margin:0 auto;padding-bottom:147px}
.section-box.first {padding-top:97px}
.section-tit {margin-bottom:76px}
.section-tit.single {margin-bottom:30px}
.section-tit .page-tit {font-size:36px;color:#3c3c3c}
.section-tit .page-dsc {margin-top:24px;font-size:18px;line-height:1.5}
.section-tit span {color:#00af56}
.section-box.full {width:1060px;margin:0 auto;padding-bottom:147px}
.section-box.full .section-tit {margin-bottom:0}
.section-box.full .section-tit .page-tit {padding:38px 0 30px;font-size:32px;font-weight:500;color:#3c3c3c}
.section-box.full .section-tit .page-dsc {margin-top:0;margin-bottom:55px}
.bg-section {padding-top:150px;background:#f9f9f9}
.page-subtit {margin:99px 0 20px;font-size:20px;color:#3c3c3c}
.page-subtit.first {margin-top:0 !important}
.page-subtit span {color:#767676}
.section-tit + .page-subtit {margin-top:0;padding-top:30px;}