@charset "UTF-8";

/*heading*/
.h3 {margin:79px 0 30px;font-size:20px;color:#3c3c3c}
.h3 a {display:inline-block;padding-right:17px;background:url(/asset/v2/images/common/sp_btn.png) no-repeat 100% -353px;color:#3c3c3c}

/*align*/
.text-left {text-align:left !important}
.text-center {text-align:center !important}
.text-right {text-align:right !important}



/*icon*/
.ico-notice {display:inline-block;width:60px;height:24px;background:#7e3bc3;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;line-height:23px;color:#fff;text-align:center}
.ico-ing {display:inline-block;width:58px;height:22px;background:#fff;border:1px solid rgba(112, 24, 255, .8);/*#7018ff 80%*/-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:13px;line-height:22px;color:#7018ff;text-align:center}
.ico-finish {display:inline-block;width:58px;height:22px;background:#fff;border:1px solid #767676;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:13px;line-height:22px;color:#767676;text-align:center}
.ico-new {display:inline-block;width:38px;height:19px;background:url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat -46px 0;font:0/0 dutom}

/*table*/
.required {position:relative;top:3px;color:#7018ff}
.board-view {/*table-layout:fixed;*/border-top:2px solid #3c3c3c}
.board-view th {border-left:1px solid #e2e2e2;font-size:14px;font-weight:500;color:#3c3c3c}
.board-view thead th {padding:14px 10px 15px;border-bottom:1px solid #e2e2e2;line-height:1.5;text-align:center}
.board-view tbody th {padding:17px 19px 19px;font-weight:normal}
.board-view tbody td {padding:14px 19px 15px;border-bottom:1px solid #e2e2e2;border-left:1px solid #e2e2e2;font-size:14px;line-height:1.5;vertical-align:top}
.board-view tbody td .mark {margin-left:16px;padding-top:10px;font-size:13px;text-indent:-16px}
.board-view tbody td .btn-form-wrap {padding:15px 0 3px}
.board-view tbody td .btn-form-wrap .btn-form {margin-left:0}
.board-view tbody td .btn-form {margin-right:7px}
.board-view dt {margin-bottom:13px;font-weight:500;color:#3c3c3c}
.board-view2 {table-layout:fixed;border-top:2px solid #3c3c3c;border-bottom:1px solid #e2e2e2}
.board-view2 th {border-left:1px solid #e2e2e2;font-size:14px;font-weight:500;color:#3c3c3c}
.board-view2 thead th {padding:14px 10px 15px;border-bottom:1px solid #e2e2e2;line-height:1.5}
.board-view2 tbody th {padding:17px 19px 19px}
.board-view2 tbody td {padding:14px 19px 15px;border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;font-size:14px;line-height:1.5;text-align:center}
.board-list {table-layout:fixed;border-top:2px solid #3c3c3c}
.board-list th {border-bottom:1px solid #e2e2e2;font-weight:500;color:#3c3c3c}
.board-list thead th {padding:17px 10px 19px}
.board-list tbody th {padding:17px 19px 19px}
.board-list tbody td {padding:14px 19px 15px;border-bottom:1px solid #e2e2e2;line-height:1.5;text-align:center;word-wrap:break-word}
.board-list tbody .state td {padding:13px 19px}
.board-list a {margin-right:7px;color:#767676}
.board-list a:hover {text-decoration:underline}
.board-list .notice td {height:24px;padding:13px 19px;color:#3c3c3c}
.board-list .notice a {font-weight:500;color:#3c3c3c}
.board-list .ico-new {position:relative;top:1px;margin-left:10px;vertical-align:top}
.board-list .box-nodata {height:226px}
.board-list2 {border-top:2px solid #3c3c3c}
.board-list2 thead {display:none}
.board-list2 tbody td {height:60px;padding:0 20px;border-bottom:1px solid #e2e2e2;text-align:center;vertical-align:middle;word-wrap:break-word}
.board-list2 tbody td.no-padding {padding:0}
.board-list2 a {color:#767676}
.board-list2 .point {color:#3c3c3c}
.board-list2 .al {padding-left:0;text-align:left}
.board-list2 .on {color:#3c3c3c}
.board-wrap {*zoom:1;position:relative}
.board-wrap:after {content:'';display:block;clear:both}
.board-wrap table {margin:0 -1px}
.board-wrap .txt-required {position:absolute;top:-24px;right:0}
.board-form {border-top:2px solid #3c3c3c}
.board-form th {height:25px;padding:28px 20px 19px;border-bottom:1px solid #e2e2e2;font-weight:normal;line-height:1.285;text-align:left;color:#3c3c3c;vertical-align:top}
.board-form th.ac {padding:0 20px;vertical-align:middle;}
.board-form tbody td {height:34px;padding:19px 20px 19px 0;border-bottom:1px solid #e2e2e2;line-height:1.5;text-align:left}
.board-form tbody td.td-style {padding:0 20px 19px 0;}
.board-form tbody td.td-style p.point {font-weight: bold; font-size: 17px;}
.board-form tbody td p.txtpoint{font-weight: bold}
.board-form tbody tr.tbl-linenone > th,
.board-form tbody tr.tbl-linenone > td{border-bottom:none;}
.board-form tbody tr.agree-wrap th,
.board-form tbody tr.agree-wrap td{padding:0 20px 19px 0;height:auto}
.board-form .payment-type {padding:26px 0}
.board-form .row {margin-top:10px}
.board-form .row:first-child {margin-top:0}
.board-form .row .i-text.error {margin-bottom:10px}
.board-form .zipcode input {vertical-align:top}
.board-form .file-upload .guide {padding-top:11px;margin-left:0;padding-left:0;line-height:1.5;text-indent:0}
.board-form .dash {display:inline-block;*display:inline;*zoom:1;width:30px;margin:0 -3px;height:34px;line-height:34px;vertical-align:top;text-align:center}
.board-form .bar {display:inline-block;*display:inline;*zoom:1;height:34px;padding:0 5px;line-height:34px;vertical-align:top;text-align:center}
.board-form .dash-day {display:inline-block;*display:inline;*zoom:1;width:29px;padding:0 0 0 5px;text-align:left}
.board-form .i-wrap {margin-left:7px}
.board-form .cert-time {display:inline-block;padding-left:7px;line-height:34px;color:#7018ff;vertical-align:top}
.board-form .bg {background:#f9f9f9}
.board-form select {vertical-align:top}
table + .paginate {margin-top:40px}
table.bg th {background:#fdfdfd}
table strong {font-weight:normal;color:#3c3c3c}
table th.first, table td.first {border-left:0}
table .line td {border-top:1px solid #b5b5b5}
table .sympathy {font-size:15px;font-weight:500;color:#7018ff}
table .sympathy em {display:inline-block;position:relative;top:6px;width:14px;height:12px;margin-right:4px;background:url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat -159px 0;font:0/0 dotum;vertical-align:top}
table .btn-form {margin-left:7px}
table .guide {display:inline-block;margin-left:6px;padding-left:9px;line-height:1.285;text-indent:-9px}
table .guide2 {display:block;padding-left:9px;line-height:1.285;text-indent:-9px;vertical-align:top}
table .phone input {width:32px;text-align:center}
table .time {position:relative;margin:0 9px 0 3px;padding-left:7px}
table .time:before {content:'';position:absolute;top:50%;left:0;width:1px;height:6px;margin-top:-3px;background:#e2e2e2}
.txt-title_filesubmit{margin-bottom: 10px; font-weight: bold; color: #3c3c3c;}
.txt-title_subfilesubmit{margin-bottom: 10px;}
.txt-table_filesubmit{margin-bottom: 15px}
.txt-table_filesubmit > tbody > tr > th:first-child, .txt-table_filesubmit > tbody > tr > td:first-child{border-left: none}
.txt-table_filesubmit > tbody > tr > th, .txt-table_filesubmit > tbody > tr > td{padding: 17px 19px 19px;}
.ckbox_sharecar{margin:10px 0 15px;}
#agreeAllSharecar5{margin-top:15px;}
.tbltr-linenone > th,
.tbltr-linenone > td{border-bottom : none !important;}
.tbltr-linenone > td{padding: 19px 20px 0 0 !important;}

/*페이징*/
.paginate {text-align:center}
.paginate a, .paginate strong {display:inline-block;width:30px;height:30px;margin:0 1px;line-height:27px;vertical-align:top;color:#767676}
.paginate > a {margin:0 3px 0 2px;background:url(/asset/v2/images/common/sp_greencar.png?v=191128) no-repeat}
.paginate > .first {background-position:0 -29px}
.paginate > .prev {background-position:-35px -29px}
.paginate > .next {background-position:-70px -29px}
.paginate > .last {background-position:-105px -29px}
.paginate > .first:hover {background-position:0 -64px}
.paginate > .prev:hover {background-position:-35px -64px}
.paginate > .next:hover {background-position:-70px -64px}
.paginate > .last:hover {background-position:-105px -64px}
.paginate .num {padding:0 15px 0 14px}
.paginate .num a {margin:0 1px}
.paginate .num a:hover {text-decoration:underline}
.paginate .num .s-active {color:#3c3c3c;text-decoration:underline}
.u-attention + .paginate {margin-top:40px}
.paginate-wrap {position:relative;height:44px;margin-top:40px}
.paginate-wrap .u-btn {position:absolute;top:0;right:20px}
.paginate-wrap .paginate {padding-top:7px}



/* =================================
------------------------------------
  Cryptocurrency - Landing Page
  Version: 1.0
 ------------------------------------ 
 ====================================*/



/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

@font-face {
	font-family: 'Fruktur', cursive;
	@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

}

html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #561499;
	margin: 0;
	font-weight: 500;
	font-family: "Lato", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 15.7px;
	color: #464748;
	line-height: 1.6;
}

img {
	max-width: 100%;
}
#0627 {
	color: white;

}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.spad {
	padding-top: 100px;
	padding-bottom: 90px;
}

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	margin-bottom: 20px;
}

.section-title p {
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 50px;
	font-family: "Lato", sans-serif;
	min-width: 170px;
	text-align: center;
	border: 2px solid #b8b8b8;
	cursor: pointer;
	color: #fff;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.no-radius {
	border-radius: 2px;
}

.site-btn.sb-full-- {
	display: block;
	width: 100%;
	border-radius: 0;
}

.site-btn.sb-gradients {
	padding: 17px 32px;
	border: none;
	color: #fff;
}

.site-btn.sb-gradients.sbg-line {
	color: #561499;
	z-index: 1;
}

.site-btn.sb-gradients.sbg-line:after {
	position: absolute;
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #fff;
	top: 2px;
	left: 2px;
	z-index: -1;
	border-radius: 50px;
}

.site-btn.sb-gradients.sbg-line:hover {
	color: #561499;
}

.gradient-bg,
.site-btn.sb-gradients,
.member-social a:hover,
.single-blog-page .social-share a:hover,
.comment .comment-content .c-btn:hover,
.comment-form label {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#561499), color-stop(100%, #484748), color-stop(100%, #484748), to(#484748));
	background: -o-linear-gradient(left, #561499 0%, #484748 100%, #484748 100%, #484748 100%);
	background: linear-gradient(to right, #561499 0%, #484748 100%, #484748 100%, #484748 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#561499', endColorstr='#484748', GradientType=1);
	/* IE6-9 */
}

/* Image Popup */

.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
	Header section
-----------------------*/

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 30px 50px 0;
	z-index: 99;
}

.header-section .site-btn {
	float: right;
	margin-left: 60px;
}

.header-section .responsive-bar,
.header-section .user {
	display: none;
}

.main-menu {
	float: right;
}

.menu-list {
	list-style: none;
}

.menu-list li {
	display: inline;
}

.menu-list li a {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	padding: 10px 5px;
	margin-right: 30px;
	color: #fff;
}

/*---------------------
	Hero Section
-----------------------*/

.hero-section {
	height: 900px;
	padding-top: 260px;
	display: block;
	background-image: url("../img/hero-bg2.png");
	background-size: cover;
	background-color: #f3f7f9;
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.hero-section .laptop-image {
	width: 685px;
	max-width: none;
	position: relative;
	left: 80px;
}

.hero-text {
	padding-top: 60px;
}

.hero-text h2 {
	font-size: 70px;
	margin-bottom: 35px;
}

.hero-text h2 span {
	color: #484748;
}

.hero-text h4 {
	color: #75849a;
	font-size: 22px;
}

.hero-subscribe-from {
	margin-top: 50px;
	display: block;
}

.hero-subscribe-from input {
	width: 315px;
	border: 1px solid #ebebeb;
	background: #fff;
	height: 48px;
	padding: 0 25px;
	border-radius: 50px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 20px;
}

/*---------------------
  About Section
-----------------------*/

.about-section .container {
	position: relative;
}

.about-text h2 {
	font-size: 48px;
	margin-bottom: 25px;
}

.about-text h5 {
	font-family: "Lato", sans-serif;
	margin-bottom: 20px;
}

.about-text p {
	font-size: 18px;
}

.about-img {
	position: absolute;
	top: 0;
	left: -120px;
	width: 662px;
}
.about-img2 {
	position: absolute;
	top: 0;
	left: -120px;
	width: 662px;
}

/*---------------------
  Feature Section
-----------------------*/

.features-section .container {
	margin-bottom: -45px;
}

.feature {
	margin-bottom: 45px;
}

.feature i {
	font-size: 48px;
	float: left;
	padding-top: 10px;
}

.feature .feature-content {
	padding-left: 70px;
}

.feature .feature-content h4 {
	margin-bottom: 15px;
}

.feature .readmore {
	text-decoration: underline;
	line-height: 1.2;
}

/*---------------------
	Process Section
-----------------------*/

.process:last-child .process-step:after {
	display: none;
}

.process-step {
	position: relative;
	text-align: center;
	padding: 35px;
	margin-top: 30px;
	-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
}

.process-step .process-icon {
	height: 55px;
	margin-bottom: 30px;
	padding-top: 5px;
}

.process-step h4 {
	margin-bottom: 15px;
}

.process-step p {
	margin-bottom: 0;
}

.process-step:after {
	position: absolute;
	content: '';
	width: 275px;
	height: 56px;
	top: -40px;
	right: -40%;
	background: url("../img/process-line.png") no-repeat scroll 0 0/cover;
}

/*---------------------
	Fact Section
-----------------------*/

.fact-section {
	padding: 100px 0px 90px;
	position: relative;
}

.fact {
	display: inline-block;
	position: relative;
}

.fact h2 {
	float: left;
	color: #484748;
	font-size: 60px;
	margin-right: 20px;
}

.fact p {
	float: left;
	padding-top: 14px;
	line-height: 1.4;
	color: #fff;
	text-transform: uppercase;
}

.fact i {
	position: absolute;
	right: -20px;
	top: -10px;
	font-size: 90px;
	color: #fff;
	z-index: 0;
	opacity: 0.1;
}

/*---------------------
	Team Section
-----------------------*/

.team-section {
	background: #f3f7f9;
	overflow: hidden;
}

.team-members {
	margin: 0 -10px;
}

.member {
	background: #fff;
	width: calc(20% - 25px);
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.member span {
	font-size: 14px;
	color: #75849a;
	display: block;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 25px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #cbd3df;
	color: #fff;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 60px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}

.member-info p {
	display: block;
	padding-top: 25px;
	margin-bottom: 0;
}

.member-img.mf {
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}

/*---------------------
  Review Section
-----------------------*/

.review-meta-slider {
	position: relative;
	width: 300px;
}

.author-meta {
	padding: 50px 0 70px;
	position: relative;
	text-align: center;
}

.author-meta:last-child {
	margin-right: 0;
}

.author-avatar {
	width: 80px;
	height: 80px;
	border: 6px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0px 16px 21px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 16px 21px rgba(33, 54, 61, 0.15);
	display: inline-block;
}

.author-avatar h4 {
	font-size: 22px;
}

.author-avatar p {
	font-size: 14px;
}

.author-name {
	position: absolute;
	width: 280px;
	left: -50%;
	bottom: -10px;
	margin-left: -50px;
	text-align: center;
	visibility: hidden;
}

.center .author-meta {
	top: -6px;
}

.center .author-name {
	visibility: visible;
}

.center .author-avatar {
	width: 100px;
	height: 100px;
}

.review-text p {
	font-size: 22px;
}

.review-text-slider .owl-nav {
	padding-top: 15px;
}

.review-text-slider .owl-prev,
.review-text-slider .owl-next {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: #484748;
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%;
	padding-top: 8px;
}

.pull-3 {
	right: 66.666667%;
}

.push-8 {
	left: 33.333333%;
}

/*---------------------
	Newsletter Section
-----------------------*/

.newsletter-section {
	padding: 50px 0;
}

.newsletter-text h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.newsletter-text p {
	margin-bottom: 0;
}

.newsletter-form {
	position: relative;
	margin-top: 20px;
	padding-left: 40px;
}

.newsletter-form input {
	width: 100%;
	font-size: 16px;
	padding: 12px 30px;
	border: none;
	border-radius: 50px;
	padding-right: 160px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}

.newsletter-form button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border: none;
	border-radius: 0px 50px 50px 0px;
	min-width: 140px;
	background: #fff;
	color: #561499;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.newsletter-form ::-webkit-input-placeholder {
	color: #fff;
}

.newsletter-form :-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
	color: #fff;
}

.newsletter-form ::placeholder {
	color: #fff;
}

/*---------------------
  Blog Section
-----------------------*/

.blog-section {
	background: #f3f7f9;
}

.blog-thumb {
	margin-bottom: 0;
}

.blog-text {
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
}

.blog-text .post-date {
	font-size: 14px;
	font-family: "Lato", sans-serif;
	color: #484748;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
	letter-spacing: 2px;
}

.blog-text .blog-title {
	font-size: 22px;
	margin-bottom: 20px;
}

.blog-text .blog-title a {
	color: #561499;
}

.blog-text .post-meta a {
	font-size: 13px;
	color: #75849a;
	margin-right: 25px;
}

.blog-text .post-meta a:last-child {
	margin-right: 0;
}

.blog-text .post-meta a span {
	color: #cbd3df;
}

.blog-text .post-meta a i {
	color: #484748;
}

.post-loadmore {
	width: 100%;
	border-radius: 0px;
}

.post-loadmore.site-btn.sb-gradients.sbg-line:after {
	border-radius: 0px;
}
/*---------------------
	Footer Section
-----------------------*/

.footer-widget span {
	color: #acb9cc;
}

.footer-widget p {
	margin-bottom: 20px;
}

.footer-widget .widget-title {
	margin-bottom: 30px;
	font-size: 20px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul a {
	font-size: 16px;
	color: #75849a;
	display: block;
	margin-bottom: 12px;
}

.footer-widget ul li:last-child a {
	margin-bottom: 0;
}

.social a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 7px;
	font-size: 18px;
}

.social a:last-child {
	margin-right: 0;
}

.social .facebook {
	background: #4b6cd0;
}

.social .google {
	background: #f03b3b;
}

.social .instagram {
	background: #bb8950;
}

.social .twitter {
	background: #49a7f3;
}

.footer-bottom {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
}

.footer-nav {
	list-style: none;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li a {
	color: #75849a;
	font-size: 14px;
	margin-left: 20px;
}

/*---------------------
	Other Pages
----------------------
======================*/

.page-info-section {
	height: 300px;
	background-image: url("../img/page-info-bg2.png");
	background-size: cover;
	background-color: #f3f7f9;
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	display: block;
	padding-top: 100px;
}

.page-info-section h2 {
	font-size: 48px;
}

.site-beradcamb {
	padding-top: 10px;
}

.site-beradcamb a {
	color: #20509e;
	font-size: 16px;
}

.site-beradcamb span {
	color: #acb9cc;
	font-size: 16px;
}

.site-beradcamb i {
	margin: 0 3px;
}

/*---------------------
  Blog page
-----------------------*/

.blog-page .blog-item {
	margin-bottom: 30px;
}

.blog-page .readmore {
	color: #20509e;
}

.blog-page .readmore i {
	color: #16d0c5;
}

.bi-feature .post-meta {
	margin-bottom: 30px;
}

.bi-feature .blog-text .blog-title {
	font-size: 36px;
}

.widget-area {
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	margin-bottom: 32px;
}

.widget-area .widget-title {
	margin-bottom: 25px;
}

.widget-area .widget {
	margin-bottom: 20px;
}

.widget-area .widget .widget-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
	line-height: 24px;
}

.widget-area .widget ul {
	list-style: none;
}

.widget-area .widget ul a {
	display: inline-block;
	font-size: 16px;
	color: #20509e;
	margin-bottom: 20px;
}

.widget-area .widget ul a:hover {
	color: #16d0c5;
}

.widget-area .widget .popular-posts span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.widget-area .widget .popular-posts h5 a {
	font-size: 18px;
	color: #20509e;
}

.widget-area .widget .popular-posts h5 a:hover {
	color: #20509e;
}

.widget-area .widget .twitter-widget li {
	margin-bottom: 20px;
}

.widget-area .widget .twitter-widget span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	text-transform: uppercase;
}

.widget-area .widget .twitter-widget h5 {
	font-size: 18px;
	color: #20509e;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a {
	font-size: 18px;
	color: #1f6ae5;
	display: block;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a:hover {
	color: #1f6ae5;
}

.widget-area .widget-subscribe-from {
	padding-top: 10px;
	display: block;
}

.widget-area .widget-subscribe-from input {
	margin-right: 0;
	margin-bottom: 20px;
	width: 100%;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	padding: 15px 20px;
	font-size: 14px;
}

.single-blog-page blockquote {
	font-size: 24px;
	color: #20509e;
	padding-left: 25px;
	border-left: 2px solid #16d0c5;
	line-height: normal;
	margin: 40px 0;
	display: block;
}

.single-blog-page blockquote span {
	display: block;
	font-size: 16px;
	color: #16d0c5;
	padding-top: 10px;
}

.single-blog-page .post-tags a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 15px;
	margin-right: 2px;
	margin-top: 5px;
	color: #75849a;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	margin-right: 5px;
}

.single-blog-page .social-share {
	display: block;
	text-align: right;
}

.single-blog-page .social-share p {
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	color: #595959;
}

.single-blog-page .social-share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	text-align: center;
	border-radius: 40px;
	background: #f3f7f9;
	color: #75849a;
	padding-top: 9px;
	font-size: 14px;
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.single-blog-page .social-share a:hover {
	color: #fff;
}

.releted-posts {
	padding-top: 50px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
}

.releted-posts .blog-item {
	padding-top: 25px;
}

.releted-posts .blog-text {
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	padding: 28px 28px 20px;
}

.releted-posts .blog-text .blog-title {
	font-size: 22px;
}

.releted-posts .post-meta {
	margin-bottom: 0;
}

.comment-area {
	padding-top: 50px;
}

.comment-list {
	padding-top: 40px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
	list-style: none;
}

.comment-list .replay-comment-list {
	list-style: none;
	margin-left: 14%;
}

.comment {
	margin-bottom: 40px;
}

.comment .comment-avator {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.comment .comment-content {
	padding-left: 100px;
}

.comment .comment-content h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

.comment .comment-content h5 span {
	font-size: 12px;
	color: #acb9cc;
	font-family: "Lato", sans-serif;
}

.comment .comment-content p {
	margin-bottom: 0;
}

.comment .comment-content .c-btn {
	font-family: "Lato", sans-serif;
	display: inline-block;
	font-size: 14px;
	border: 1px solid #ebebeb;
	background: #f3f7f9;
	color: #20509e;
	padding: 4px 25px;
	border-radius: 2px;
	margin-right: 5px;
	margin-top: 20px;
}

.comment .comment-content .c-btn:hover {
	color: #fff;
}

.comment-form .form-group {
	position: relative;
	padding: 1px;
	margin-bottom: 20px;
}

.comment-form input,
.comment-form textarea {
	width: 100%;
	padding: 11px 20px;
	border: none;
	border: 1px solid #e5e5e5;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form input:focus,
.comment-form textarea:focus {
	border-color: transparent;
}

.comment-form input:focus+label,
.comment-form textarea:focus+label {
	opacity: 1;
}

.comment-form label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form textarea {
	height: 115px;
	display: -ms-grid;
	display: grid;
}

/*---------------------
	Contact page
-----------------------*/

.contact-form {
	padding-right: 35px;
}

.contact-form h5 {
	font-size: 16px;
	font-family: "Lato", sans-serif;
}

.contact-form h5 span {
	color: #16d0c5;
}

.contact-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.contact-form .form-group span {
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 16px;
	color: #7bc063;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.contact-form .form-group span.active {
	opacity: 1;
}

.contact-form .check-form {
	padding-right: 20px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #ebebeb;
	font-size: 16px;
	padding-bottom: 10px;
	color: #20509e;
}

.contact-form input:focus,
.contact-form textarea:focus {
	border-color: #20509e;
}

.contact-form textarea {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 115px;
}

.contact-form .contact-type .ct-label {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	margin-right: 40px;
	cursor: pointer;
	font-size: 16px;
	color: #acb9cc;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contact-form .contact-type .ct-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.contact-form .contact-type .ct-label input:checked~.checkmark:after {
	content: '\f111';
	color: #484748;
}

.contact-form .contact-type .ct-label .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 25px;
	width: 25px;
}

.contact-form .contact-type .ct-label .checkmark:after {
	position: absolute;
	content: "\f10c";
	font-family: 'Lato';
	font-size: 14px;
}

.contact-form .contact-type .ct-label:last-child {
	margin-right: 0;
}

.contact-form ::-webkit-input-placeholder {
	color: #acb9cc;
}

.contact-form :-ms-input-placeholder {
	color: #acb9cc;
}

.contact-form ::-ms-input-placeholder {
	color: #acb9cc;
}

.contact-form ::placeholder {
	color: #acb9cc;
}

.map {
	height: 390px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (max-width: 1585px) {
	.hero-section .laptop-image {
		left: 0;
	}
}

@media (max-width: 1425px) {
	.header-section .site-btn {
		margin-left: 0;
	}
	.hero-section,
	.page-info-section {
		background-position: right 30% top;
	}
	.hero-section .laptop-image {
		width: auto;
		max-width: 100%;
		top: 70px;
	}
	.about-img {
		left: -50px;
		width: 600px;
	}
}

@media (min-width: 1199px) and (max-width: 1390px) {
	.member {
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.menu-list li a {
		margin-right: 15px;
	}
	.hero-section,
	.page-info-section {
		background-position: right 23% top;
	}
	.about-img {
		left: 0px;
		width: 480px;
	}
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
	}
	.team-members {
		text-align: center;
	}
	.fact h2 {
		font-size: 45px;
		margin-right: 10px;
	}
	.fact p {
		padding-top: 7px;
	}
	.fact i {
		font-size: 67px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 30px 15px 0;
	}
	.menu-list li a {
		margin-right: 6px;
	}
	.header-section .site-btn {
		margin-left: 10px;
	}
	.hero-section {
		background-position: right 25% top;
		height: 730px;
		padding-top: 160px;
	}
	.page-info-section {
		background-position: right 33% top;
	}
	.page-info-section h2 {
		font-size: 40px;
	}
	.hero-text h2 {
		font-size: 45px;
	}
	.process-step:after {
		width: 154px;
		height: 35px;
		top: -10px;
		right: -44%;
		background-size: contain;
	}
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	.member {
		width: calc(33.333333% - 25px);
		margin-bottom: 30px;
		padding: 35px 10px;
	}
	.member-img {
		width: 160px;
		height: 160px;
	}
	.member-info {
		padding: 50px 27px 10px;
		height: 275px;
	}
	.member-social a {
		margin: 0 5px;
	}
	.team-members {
		text-align: center;
	}
	.fact {
		margin-bottom: 30px;
	}
	.pull-3 {
		right: 0;
	}
	.push-8 {
		left: 0;
	}
	.review-section {
		text-align: center;
	}
	.review-text {
		padding: 0 60px;
	}
	.review-text-slider .owl-nav {
		padding-top: 0;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		left: 0;
		width: 100%;
	}
	.review-text-slider .owl-prev {
		float: left;
	}
	.review-text-slider .owl-next {
		float: right;
	}
	.review-meta-slider {
		margin: auto;
	}
	.author-meta {
		padding-top: 0;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.footer-widget {
		margin-bottom: 30px;
	}
	.newsletter-section {
		text-align: center;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.mobile{
	display:none;}
	.header-section {
		padding: 30px 0;
		background: #fff;
	}
	.header-section .responsive-bar {
		float: right;
		font-size: 25px;
		display: block;
		cursor: pointer;
	}
	.header-section .user {
		float: right;
		font-size: 25px;
		color: #333;
		margin-right: 20px;
		display: block;
	}
	.main-menu {
		float: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background: #7e3bc3;
		padding: 0 15px;
		display: none;
		-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		        box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
	}
	.menu-list {
		list-style: none;
	}
	.menu-list li {
		display: block;
		border-top: 1px solid #e1e1e1;
	}
	.menu-list li a {
		display: block;
		padding: 10px 5px;
		margin-right: 0;
		color: #561499;
	}
	.hero-text h2 {
		font-size: 40px;
	}
	.hero-section {
		height: auto;
		padding-bottom: 100px;
		padding-top: 160px;
		background-position: right 50% top;
	}
	.page-info-section {
		background-position: right 56% top;
		margin-top: 97px;
	}
	.page-info-section h2 {
		font-size: 40px;
	}
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	.team-members {
		margin: 0;
		padding: 0 15px;
	}
	.member {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0;
	}
	.fact {
		margin-bottom: 30px;
	}
	.process-step:after {
		display: none;
	}
	.pull-3 {
		right: 0;
	}
	.push-8 {
		left: 0;
	}
	.review-section {
		text-align: center;
	}
	.review-text {
		padding: 0 60px;
	}
	.review-text-slider .owl-nav {
		padding-top: 0;
		position: absolute;
		top: 50%;
		margin-top: -45px;
		left: 0;
		width: 100%;
	}
	.review-text-slider .owl-prev {
		float: left;
	}
	.review-text-slider .owl-next {
		float: right;
	}
	.review-meta-slider {
		margin: auto;
	}
	.author-meta {
		padding-top: 0;
	}
	.header-section .site-btn {
		display: none;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-section {
		text-align: center;
	}
	.review-text p {
		font-size: 20px;
	}
	.blog-item {
		margin-bottom: 30px;
	}
	.footer-widget {
		margin-bottom: 30px;
	}
	.single-blog-page .social-share {
		text-align: left;
		margin-top: 20px;
	}
}

/* small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.review-text {
		padding: 0 45px;
	}
	.review-text p {
		font-size: 18px;
	}
	.newsletter-form input {
		padding-right: 30px;
	}
	.newsletter-form button {
		position: relative;
		padding: 14px;
		border-radius: 50px;
		margin-top: 23px;
	}
	.review-text-slider .owl-prev,
	.review-text-slider .owl-next {
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
	.review-meta-slider {
		width: auto;
	}
	.member-img {
		width: 180px;
		height: 180px;
	}
	.member-info {
		padding: 50px 20px 10px;
		height: 320px;
	}
	.blog-text {
		padding: 15px;
	}
	.comment .comment-avator {
		float: none;
		margin-bottom: 20px;
	}
	.comment .comment-content {
		padding-left: 0;
	}
}
/* Footer */

#footer {
	padding: 100px 0px 90px;
	background: 000000;
	text-align: left;
	color: #7e3bc3;
}

	#footer h2 {
		color: #561499;
	}

	#footer .icon {
		color: #c8c8c8;
	}

	#footer a {
		color: #7e3bc3;
		text-decoration: none;
	}



	#footer .copyright {
		display: inline-block;
		color: #7e3bc3;
		font-size: 0.75em;
		margin: 0 0 2em 0;
		padding: 0;
		text-align: left;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
		padding: 2em 10em;
	}

	.number {
		width: 150px;
		height: 150px;
		margin: 0 auto;
		background-color: #7e3bc3;
		font-size : 100px;
		list-style: none;
		text-align: center;
		margin-top: 50px;
		color:#fff;
		border-radius : 50%;
	}



/* drop down */

.dropbtn {
  background-color: transparent !important;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #898989;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #7e3bc3;}

.dropdown:hover .dropdown-content {display: block;}



/*body 초기화*/




